<!DOCTYPE html>

<html lang="sa">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='layout.js') }}"></script>
        {% block style %}{% endblock %}
        {% block script %}{% endblock %}
    </head>
    <body>
        <div class="row" id="siteheader">
            <div class="col-lg-1">
                <img src="{{ url_for('static', filename='shiva.jpg') }}" class="img-thumbnail" id="logo">
            </div>
            <div class="col-lg-2">
                {% block alerts %}{% endblock %}
            </div>
            <div class="col-lg-6">
                <h1 style="font-style: italic;">Sanskrit</h1>                
                {% block links %}{% endblock %}
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-2">
                <div id="newContentAdded">
                    <a href="" id="refreshsite">Refresh Site</a>
                </div>
                {% if user %}
                <div>{{user.username}}</div>
                {% endif %}
                <div>
                    <a id="adminLogout" href="">
                        {% if admin or user %}
                            Logout
                        {% endif %}                            
                    </a>
                </div>
            </div>
        </div>
        <hr>
        {% block body %}{% endblock %}
    </body>
</html>