{% extends 'layout.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block style %}
{% endblock %}

{% block links %}
    <a href="{{ url_for('homepage') }}">Homepage</a>&nbsp;&nbsp;
    <a href="{{ url_for('contents') }}">Contents</a>&nbsp;&nbsp;
    <a href="{{ url_for('notes') }}">Notes</a>&nbsp;&nbsp;
    <a href="{{ url_for('search') }}">Search</a>
{% endblock %}

{% block body %}
<div style="text-align: center;">
    <h1>Reset Password</h1><br>
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <form action="{{url_for('resetpassword')}}" method="POST">
                <div class="form-group">
                    <label for="password1"><span class="requirement">*</span>Password</label>
                    <input type="password" class="form-control" id="password1" name="password1" autofocus>
                </div>
                <div class="form-group">
                    <label for="password"><span class="requirement">*</span>Re-Type Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            {% if reset_error %}<div class="error_message">{{ reset_error }}</div>{% else %}<br>{% endif %}
            <div>
                <a href="{{ url_for('cancelRecoverPassword') }}">Cancel</a>
            </div>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>
{% endblock %}
